.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background .5s ease;
  .container {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include mobile {
      height: 48px;
    }
  }

  &__logo {
    display: flex;
    @include mobile {
      max-width: 76px;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    @include tablet {
      display: none;
    }
    li {
      &:not(:last-child) {
        margin-right: 16px;
      }
      a {
        text-decoration: none;
        color: #989AB6;
        font-size: 15px;
        position: relative;
        transition: color .3s ease;
        &:before {
          content: '';
          position: absolute;
          top: calc(100% + 5px);
          left: 50%;
          transform: translateX(-50%);
          width: 10px;
          height: 2px;
          border-radius: 2px;
          background: #fff;
          opacity: 0;
          visibility: hidden;
          transition: opacity .3s ease;
        }
        &:hover,
        &.active {
          color: #fff;
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .btn {
    @include tablet {
      margin-left: auto;
    }
    @include mobile {
      display: inline-flex;
      width: auto;
      height: 32px;
    }
  }

  &__bg {
    background: #080B2B;
  }

}