.blue-section {
  padding: 100px 0;
  background: url("../images/dist/blue-section-bg.png") center center / cover;
  color: #fff;
  @include tablet {
    padding: 60px 0;
  }
  @include mobile {
    padding: 40px 0;
  }
  &__wrap {
    display: grid;
    grid-template-columns: 376px 1fr;
    gap: 8px;
    align-items: center;
    @include tablet {
      grid-template-columns: 1fr;
      gap: 24px;
    }
    @include mobile {
      gap: 16px;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 54px;
    font-weight: 400;
    text-transform: capitalize;
    @include mobile {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__content {
    p {
      margin-bottom: 24px;
    }
  }
}
